/* Styling Tweaks by Me */

/* Display */
.flex {
    display: flex;
}
.block {
    display: block;
}
.inline-flex {
    display: inline-flex;
}

/* Font-Sizes */

/* Rem */
.fs-rem1 {
    font-size: 1.1rem;
}
.fs-rem5 {
    font-size: 5rem;
}

/* Px */
.fs15 {
    font-size: 15px;
}
.fs20 {
    font-size: 20px;
}
.fs21 {
    font-size: 21px;
}
.fs22 {
    font-size: 22px;
}
.fs23 {
    font-size: 23px;
}
.fs24 {
    font-size: 24px;
}
.fs25 {
    font-size: 25px;
}
.fs35 {
    font-size: 35px;
}
.fs40 {
    font-size: 40px;
}
.fs80 {
    font-size: 80px;
}

/* Font-Weight */
.fw-b {
    font-weight: bold;
}
.fw-bb {
    font-weight: bolder;
}

/* Buttons */
button:focus {
    outline: 0;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}
.btn-orange {
    background-color:rgb(218, 75, 9);
    border-color: rgb(218, 75, 9);
}
.btn-orange:hover {
    color: rgb(218, 75, 9);
    background-color: transparent;
    border-color: rgb(218, 75, 9);
    transition:0.5s ease-in-out;
}

/* Text-Colors */
.text-ash {
    color: rgb(206, 203, 203) !important;
}
.text-orange {
    color: rgb(218, 75, 9) !important;
}

/* Background-colors */
.bg-light {
    background-color: #f5f5f5;
}

 /* Paddings */

/* Padding-Top */
 .pt-20 {
    padding-top: 20px;
}
.pt-30 {
     padding-top: 30px;
 }
.pt-40 {
     padding-top: 40px;
 }
.pt-50 {
     padding-top: 50px;
 }
.pt-75 {
    padding-top: 75px;
}
.pt-100 {
    padding-top: 100px;
}
/* Padding-Bottom */
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-100 {
    padding-bottom: 100px;
}
/* Padding-Left */
.pl-50 {
    padding-left: 50px;
}
.pl-85 {
    padding-left: 85px;
}
.pl-100 {
    padding-left: 100px;
}
.pl-120 {
    padding-left: 120px;
}

/* Margins */
.mt-10 {
    margin-top: 10px;
}
.mt-140 {
    margin-top: 140px;
}
.mb-100 {
    margin-bottom: 100px;
}

/* Letter-Spacing */
.l-sp1 {
    letter-spacing: 0.5px;
}

/* Line-Height */
.lh25 {
    line-height: 25px;
}
.lh26 {
    line-height: 26px;
}
.lh27 {
    line-height: 27px;
}
.lh28 {
    line-height: 28px;
}
.lh29 {
    line-height: 29px;
}
.lh30 {
    line-height: 30px;
}
